@font-face {
   font-family: 'FuturaHeavy' ;
   src: url('../fonts/Futura XBlk BT.ttf') format('truetype');
}

@font-face {
   font-family: 'Futura' ;
   src: url('../fonts/futura medium bt.ttf') format('truetype');
}

/*
colors:
white: #f3f3f3;

red: #d33132;

lightest: #c5c6c1;
midtone: #686a61;
darkest: #36372f;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Futura', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* buttons */
.btn {
  padding: 10px 20px;
  color: #f3f3f3;
  border: 2px solid #d33132;
  background-color: #d33132;
  border-radius: 20px;
  transition: 0.5s;
}

.btn-spotify {
  padding: 10px 20px;
  color: #f3f3f3;
  border: 2px solid #d33132;
  background-color: #d33132;
  border-radius: 20px;
  font-size: 1.5em;
  transition: 0.5s;
}
/* buttons END */

/* header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
/* header END */

/* hero section */
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("../img/background.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section-main .title h1 {
  font-family: 'FuturaHeavy', sans-serif;
  color: #36372f;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: -4px;
}
/* hero section END */
