@font-face {
   font-family: 'FuturaHeavy' ;
   src: url('../fonts/Futura XBlk BT.ttf') format('truetype');
}

@font-face {
   font-family: 'Futura' ;
   src: url('../fonts/futura medium bt.ttf') format('truetype');
}

/*
colors:
white: #f3f3f3;

red: #d33132;

highlight red: #fe4647;

lightest: #c5c6c1;
midtone: #686a61;
darkest: #36372f;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Futura', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.mb-24 {
  margin-bottom: 24px;
}

/* buttons */
.btn {
  padding: 10px 20px;
  color: #f3f3f3;
  border: 2px solid #d33132;
  background-color: #d33132;
  border-radius: 20px;
  transition: 0.5s;
}

.btn-spotify {
  padding: 10px 20px;
  color: #f3f3f3;
  border: 2px solid #d33132;
  background-color: #d33132;
  border-radius: 20px;
  font-size: 2em;
  box-shadow: 5px 10px 20px rgba(255,255,255,0.5);
  transition: 0.5s;
}

.btn:hover,
.btn-spotify:hover {
  background-color: #fe4647;
  border: 2px solid #fe4647;
}
/* buttons END */

/* sidemenu */
.sidemenu {
  position: fixed;
  min-height: 100vh;
  width: 30%;
  top: 0;
  right: -100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  transition: 0.7s;
}

.sidemenu.active {
  right: 0;
  box-shadow: 0 5px 20px rgba(121, 255, 202, 0.2);
}

.sidemenu ul li {
  margin-bottom: 18px;
  padding: 10px 20px;
  border: 1px solid #000;
  transition: 0.5s;
}

.sidemenu ul li a {
  color: #79ffca;
  font-size: 2em;
  text-transform: uppercase;
  transition: 0.5s;
}

.sidemenu ul li:hover {
  border: 1px solid #d1d1d1;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

.sidemenu ul li:hover a {
  color: #d1d1d1;
}
/* sidemenu END */

/* Scroll Up Button */
#btnScrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  opacity: 0;
  background-color: #d33132;
  color: #f3f3f3;
  border-color: #d33132;
  transition: 0.5s;
  cursor: pointer;
  z-index: 99;
}

#btnScrollTop i {
  font-size: 24px;
}

#btnScrollTop.visible {
  opacity: 1;
}

#btnScrollTop:active {
  box-shadow: 0 5px 20px rgba(121, 255, 202, 0.3);
}
/* Scroll Up Button END */

/* header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 12px 0px;
  transition: 0.5s;
}

.header.sticky {
  background-color: #c5c6c1;
  padding: 6px 0px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.logo-image {
  width: 200px;
  height: auto;
}

.header-social a {
  margin: 0px 16px;
  transition: 0.5s;
}

.header-social a i {
  font-size: 24px;
  color: #36372f;
  transition: 0.5s;
}

.header-social a:hover i {
  transform: translateY(-4px);
  color: #d33132;
}

.toggle {
  width: 40px;
  height: 40px;
  background: url("../img/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  transition: 0.5s;
  filter: invert(1);
}

.toggle.active {
  background: url("../img/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
}
/* header END */

/* hero section */
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("../img/background.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-main {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.hero-section-main-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section-main .title h1 {
  font-family: 'FuturaHeavy', sans-serif;
  color: #36372f;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: -4px;
  margin-bottom: 36px;
}

.hero-section-main .title h1 span {
  font-family: 'FuturaHeavy', sans-serif;
  color: #d33132;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: -4px;
}

.hero-links {
  text-align: center;
}

.hero-links h2 {
  margin-bottom: 24px;
}
/* hero section END */

/* pages */
.page-intro {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background:linear-gradient(0deg, rgba(255,255,255, 0.4), rgba(255,255,255, 0.4)), url("../img/background.png");
  background-size: cover;
  background-position: center;
}

.page-intro-title h1 {
  font-family: 'FuturaHeavy', sans-serif;
  color: #36372f;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: -4px;
}

.page-intro-title h1 span {
  color: #d33132;
  font-size: 1em;
}

section {
  width: 100%;
  padding: 60px 0px;
  background-color: #c5c6c1;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #686a61;
}

.container-2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #686a61;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-half {
  width: 50%;
  height: 90%;
  padding: 24px;
}

.section-half h2 {
  margin-bottom: 16px;
  position: relative;
}

.place-title::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 80%;
  background-color: #d33132;
}

.section-half ul li {
  display: inline-block;
  margin: 16px;
}

.section-half ul li a i {
  font-size: 1.8em;
  color: #f3f3f3;
  transition: 0.5s;
}

.section-half ul li:hover a i {
  transform: translateY(-6px);
  color: #d33132;
}

.gallery-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pic-box {
  width: 400px;
  height: 400px;
  margin: 24px;
  transition: 0.5s;
}

.pic-box:hover {
  transform: scale(1.1);
  box-shadow: 6px 20px 15px rgba(0,0,0,0.5);
}

.long-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}


.store-img {
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: red;
}

.video-box {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  background-color: red;
}

.contact-form {
  margin: 0 auto;
  width: 100%;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
}

.contact-form textarea {
  resize: none;
}

.contact-form input[type='submit'] {
  cursor: pointer;
}
/* pages END */

/* footer */
footer {
  width: 100%;
  background-color: #36372f;
  padding: 40px 0px 20px;
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 24px;
}

.footer-box {
  flex-basis: 100%;
}

.footer-box-internal {

}

.footer-logo {
  width: 200px;
  height: auto;
}

.footer-row-2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-row-2 p {
  color: #f3f3f3;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
}
/* footer END */

/* media queries */
@media(max-width:992px){
  .container {
    flex-direction: column;
  }

  .container-2 {
    flex-direction: column-reverse;
  }

  .section-half {
    width: 100%;
    text-align: center;
  }
}
